<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.litqoo.DGproto"
      android:versionCode="1"
      android:versionName="1.0"
      >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
    <uses-feature android:glEsVersion="0x00020000" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
      android:hardwareAccelerated="false">
		<!-- HSP Activity Begin -->
		       <activity
		           android:name="com.hangame.hsp.ui.HSPUiActivity"
		           android:configChanges="orientation|keyboardHidden"
		           android:finishOnTaskLaunch="true"
		           android:theme="@android:style/Theme.Translucent.NoTitleBar"
		           android:windowSoftInputMode="adjustPan" >
		       </activity>
		<!-- HSP Activity End -->
        <activity android:name=".DGproto"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!-- [HSP SDK] kakao login activity start -->

        <activity 	android:configChanges="orientation|keyboardHidden"
            		android:name="com.hangame.hsp.auth.login.kakao.KakaoLoginActivity" 
           			android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <!-- [HSP SDK] kakao login activity end -->
    </application>
    <supports-screens android:largeScreens="true"
                      android:smallScreens="true"
                      android:anyDensity="true"
                      android:normalScreens="true"/>
    
     <!-- HSP permission begin -->
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
 <!--  <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" /> -->
   <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
   <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
   <uses-permission android:name="com.android.vending.BILLING" />
<!-- HSP permission end -->
</manifest> 
