<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_airport1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,376},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>boss_airport2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,631},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>boss_airport3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{32,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,96}}</string>
                <key>sourceSize</key>
                <string>{32,96}</string>
            </dict>
            <key>boss_airport4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,400},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>boss_airport5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,460},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,62}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>boss_bandal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,490},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>boss_bandal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,236},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>boss_bandal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,631},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>boss_bokjab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,92},{88,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,124}</string>
            </dict>
            <key>boss_color1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,256},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>boss_color1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{88,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,124}}</string>
                <key>sourceSize</key>
                <string>{88,124}</string>
            </dict>
            <key>boss_color2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,180},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>boss_color2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,536},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>boss_color3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,444},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>boss_color3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,680},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>boss_color3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,632},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>boss_color3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,630},{28,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,68}}</string>
                <key>sourceSize</key>
                <string>{28,68}</string>
            </dict>
            <key>boss_doubles1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,563},{66,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,78}}</string>
                <key>sourceSize</key>
                <string>{66,78}</string>
            </dict>
            <key>boss_doubles2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,220},{96,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>boss_doubles3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,166}}</string>
                <key>sourceSize</key>
                <string>{106,166}</string>
            </dict>
            <key>boss_doubles4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,182},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>boss_doubles5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>boss_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,322},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,88}}</string>
                <key>sourceSize</key>
                <string>{62,88}</string>
            </dict>
            <key>boss_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,683},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>boss_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,462},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,52}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
            <key>boss_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,104},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>boss_fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{70,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,138}}</string>
                <key>sourceSize</key>
                <string>{70,140}</string>
            </dict>
            <key>boss_hmi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,294},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>boss_hmi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,572},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>boss_medal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,290},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>boss_medal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{56,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{58,100}</string>
            </dict>
            <key>boss_medal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,660},{38,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>boss_one1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,622},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>boss_one2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,580},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>boss_one3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,106}}</string>
                <key>sourceSize</key>
                <string>{100,106}</string>
            </dict>
            <key>boss_princess1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,294},{50,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,104}}</string>
                <key>sourceSize</key>
                <string>{50,104}</string>
            </dict>
            <key>boss_princess2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,673},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>boss_princess3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,518},{43,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,80}}</string>
                <key>sourceSize</key>
                <string>{43,80}</string>
            </dict>
            <key>boss_princess4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,394},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>boss_princess5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,516},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>boss_princess6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,608},{34,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,77}}</string>
                <key>sourceSize</key>
                <string>{34,77}</string>
            </dict>
            <key>boss_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{152,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,156}}</string>
                <key>sourceSize</key>
                <string>{152,156}</string>
            </dict>
            <key>boss_round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,506},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>boss_round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,200},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>boss_round4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,474},{42,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,86}}</string>
                <key>sourceSize</key>
                <string>{42,86}</string>
            </dict>
            <key>boss_round5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>boss_round6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,518},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>boss_round7.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,460},{56,54}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>boss_sagak1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,586},{44,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,80}}</string>
                <key>sourceSize</key>
                <string>{44,80}</string>
            </dict>
            <key>boss_sagak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,670},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>boss_sagak3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,110},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>boss_sagak4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,318},{100,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,74}}</string>
                <key>sourceSize</key>
                <string>{100,74}</string>
            </dict>
            <key>boss_simple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{58,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,42}}</string>
                <key>sourceSize</key>
                <string>{58,42}</string>
            </dict>
            <key>boss_simple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,644},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>boss_tornado1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,366},{92,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,76}}</string>
                <key>sourceSize</key>
                <string>{92,76}</string>
            </dict>
            <key>boss_tornado2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,632},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>boss_tornado3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,156},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>boss_tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{90,94}</string>
            </dict>
            <key>boss_tree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,110}</string>
            </dict>
            <key>boss_tree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,412},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>boss_tree4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{40,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>boss_tulip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,242},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>boss_tulip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,631},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>boss_tulip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,156},{62,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,122}}</string>
                <key>sourceSize</key>
                <string>{62,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossMonster.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5043ed765ecdecc1daf86c3beadcca15:4bf5bdc68447633551dd4707e50bf840:ccf0f51f518bcb5dfe8351765c389d0f$</string>
            <key>textureFileName</key>
            <string>bossMonster.pvr.ccz</string>
        </dict>
    </dict>
</plist>
