<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALPHA-KR</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://alpha-lnc.m.hangame.com:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>KR</string>
	</dict>
	<key>REAL-KR</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.m.hangame.com:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>KR</string>
	</dict>
	<key>ALPHA-JP</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://119.235.233.104:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>JP</string>
	</dict>
	<key>REAL-JP</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.m.hangame.co.jp:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>JP</string>
	</dict>
	<key>DR-JP</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://111.91.128.89:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>JP</string>
	</dict>
	<key>ALPHA-GLOBAL-KR</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://222.122.200.212:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>REAL-GLOBAL-KR</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.m.hangame.com:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>AWS-GLOBAL</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://184.169.222.48:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>PLATFORMQA-KR</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://112.175.154.219:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>KR</string>
	</dict>
	<key>PLATFORMQA-GLOBAL</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://112.175.154.219:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>PLATFORMQA-JP</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://112.175.154.219:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>JP</string>
	</dict>
	<key>LINEGAME</key>
	<dict>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.linegame.jp:10080/hsp/lnc</string>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>ALPHA-LINEGAME</key>
	<dict>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://203.104.130.187:10080/hsp/lnc</string>
		<key>HSP_IS_REALZONE</key>
		<false/>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>KAKAOGAME</key>
	<dict>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.kakao.hangame.com:10080/hsp/lnc</string>
		<key>HSP_IS_REALZONE</key>
		<true/>
		<key>HSP_LOCALE</key>
		<string>KR</string>
	</dict>
	<key>ALPHA-GLOBAL-SG</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<string>NO</string>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://125.209.255.120:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
	<key>REAL-GLOBAL-SG</key>
	<dict>
		<key>HSP_IS_REALZONE</key>
		<string>YES</string>
		<key>HSP_ADDRESS_LAUNCHING</key>
		<string>http://lnc.hsp.gsquare.com:10080/hsp/lnc</string>
		<key>HSP_LOCALE</key>
		<string>GLOBAL</string>
	</dict>
</dict>
</plist>
