<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provider_info</key>
	<dict>
		<key>twitter</key>
		<dict>
			<key>title</key>
			<string>twitter</string>
			<key>displayName</key>
			<string>Twitter</string>
			<key>version</key>
			<integer>1</integer>
			<key>realm</key>
			<string>http://twitter.com/</string>
			<key>consumer_key</key>
			<string>2uC9QqeRumBj1DxSa8z6lA</string>
			<key>consumer_secret</key>
			<string>nOufnPfktYHQvwjTdQ6NEE1n17wr3zsvAEtrPk0Osk</string>
			<key>url_request_token</key>
			<string>https://api.twitter.com/oauth/request_token</string>
			<key>url_authorize</key>
			<string>https://api.twitter.com/oauth/authorize</string>
			<key>url_access_token</key>
			<string>https://api.twitter.com/oauth/access_token</string>
			<key>url_redirect</key>
			<string>http://www.touch.hangame.co.jp/</string>
			<key>url_cookie</key>
			<string>https://api.twitter.com</string>
		</dict>
		<key>google</key>
		<dict>
			<key>title</key>
			<string>google</string>
			<key>displayName</key>
			<string>Google</string>
			<key>realm</key>
			<string>http://google.com</string>
			<key>version</key>
			<integer>2</integer>
			<key>consumer_key</key>
			<string>234744417683.apps.googleusercontent.com</string>
			<key>consumer_secret</key>
			<string>jGqyNGnLKUb2NQFruNDNifZl</string>
			<key>url_redirect</key>
			<string>http://oauth.hangame.co.jp/oauth2/redirect.nhn</string>
			<key>url_authorize</key>
			<string>https://accounts.google.com/o/oauth2/auth</string>
			<key>url_access_token</key>
			<string>https://accounts.google.com/o/oauth2/token</string>
			<key>scope</key>
			<string>https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email</string>
			<key>url_cookie</key>
			<string>https://accounts.google.com</string>
		</dict>
		<key>mixi</key>
		<dict>
			<key>title</key>
			<string>mixi</string>
			<key>displayName</key>
			<string>mixi</string>
			<key>version</key>
			<integer>2</integer>
			<key>consumer_key</key>
			<string>e569a5423a733929378a</string>
			<key>consumer_secret</key>
			<string>53cb0f9a2953089071e73cdf30c295dcd2a415f6</string>
			<key>url_redirect</key>
			<string>http://oauth.hangame.co.jp/oauth2/redirect.nhn</string>
			<key>url_authorize</key>
			<string>https://mixi.jp/connect_authorize.pl</string>
			<key>url_access_token</key>
			<string>https://secure.mixi-platform.com/2/token</string>
			<key>scope</key>
			<string>r_profile</string>
			<key>url_cookie</key>
			<string>https://mixi.jp</string>
		</dict>
		<key>facebook</key>
		<dict>
			<key>title</key>
			<string>facebook</string>
			<key>displayName</key>
			<string>Facebook</string>
			<key>version</key>
			<integer>2</integer>
			<key>realm</key>
			<string>http://facebook.com</string>
			<key>url_redirect</key>
			<string>http://oauth.hangame.co.jp/oauth2/redirect.nhn</string>
			<key>url_access_token</key>
			<string>https://graph.facebook.com/oauth/access_token</string>
			<key>url_authorize</key>
			<string>https://www.facebook.com/dialog/oauth?display=touch</string>
			<key>consumer_key</key>
			<string>305878929453904</string>
			<key>consumer_secret</key>
			<string>4eb0df680991ec8f4a75bb72d9c21bcc</string>
			<key>scope</key>
			<string>email,read_stream</string>
			<key>url_cookie</key>
			<string>https://www.facebook.com</string>
		</dict>
		<key>hangame</key>
		<dict>
			<key>title</key>
			<string>hangame</string>
			<key>displayName</key>
			<string>ハンゲーム</string>
			<key>version</key>
			<integer>2</integer>
			<key>realm</key>
			<string>http://oauth.hangame.co.jp</string>
			<key>consumer_key</key>
			<string>c191729102e37172b3241b03873998a2</string>
			<key>consumer_secret</key>
			<string>61d1823162237102a3a4552464739b97</string>
			<key>url_authorize</key>
			<string>https://oauth.hangame.co.jp/oauth2/authorize.nhn</string>
			<key>url_access_token</key>
			<string>https://oauth.hangame.co.jp/oauth2/accesstoken.nhn</string>
			<key>url_redirect</key>
			<string>http://oauth.hangame.co.jp/oauth2/redirect.nhn</string>
			<key>scope</key>
			<string>r_profile w_profile</string>
			<key>url_cookie</key>
			<string>https://oauth.hangame.co.jp</string>
		</dict>
	</dict>
	<key>providers</key>
	<array>
		<string>twitter</string>
		<string>google</string>
		<string>mixi</string>
		<string>facebook</string>
		<string>hangame</string>
	</array>
</dict>
</plist>
